@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav align-items-center gap-2">

    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <span class="text-white-50 small">
                @User.Identity?.Name
            </span>
        </li>

        @if (User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="btn btn-outline-light btn-sm"
                   asp-controller="Admin"
                   asp-action="AllRegistrations">
                    Записи
                </a>
            </li>
            <a class="btn btn-outline-warning btn-sm ms-2"
               asp-controller="Admin"
               asp-action="SpeakerRequests">
                Заказы
            </a>
        }
        else
        {
            <li class="nav-item">
                <a class="btn btn-outline-light btn-sm"
                   asp-controller="Profile"
                   asp-action="Index">
                    Кабинет
                </a>
            </li>
        }

        <li class="nav-item">
            <form asp-area="Identity" asp-page="/Account/Logout" method="post">
                <button type="submit" class="btn btn-danger btn-sm">
                    Выйти
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="btn btn-outline-light btn-sm"
               asp-area="Identity"
               asp-page="/Account/Login">
                Войти
            </a>
        </li>

        <li class="nav-item">
            <a class="btn btn-outline-light btn-sm ms-2 px-3"
               asp-area="Identity"
               asp-page="/Account/Register">
                Регистрация
            </a>
        </li>
    }

</ul>